<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- Required by Activity.registerScreenCaptureCallback (Android 14+); normal permission, granted at install. -->
  <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
  <queries>
    <package android:name="com.topjohnwu.magisk" />
  </queries>
</manifest>
